services:
  everything:
    volumes:
    - ./cfg:/home/everything/cfg
    - ./db:/home/everything/db
    # - /mnt/user:/mnt/user:ro # Unraid shares
    container_name: everything-search
    ports:
    - 5800:5800
    - 5900:5900
    - 14680:14680
    - 14620:14620
    - 14630:14630
    restart: on-failure:2
    mem_limit: 8192M
    environment:
    - DISPLAY=:0
    - TZ=Europe/Berlin
    - WINEDEBUG=-fixme-all
    - WINEARCH=${WINEARCH:-win64}
    - WINE_NO_ASYNC_DIRECTORY=${WINE_NO_ASYNC_DIRECTORY:-1}
    - EVERYTHING_BIN=${EVERYTHING_BIN:-everything-1.5.exe}
    - EVERYTHING_CFG=${EVERYTHING_CFG:-cfg/everything.ini}
    - EVERYTHING_DB=${EVERYTHING_DB:-db/everything.db}
    build:
      context: .
      dockerfile: Dockerfile
    mem_reservation: 1024M
