services:
  everything:
    mem_limit: 8192M
    build:
      context: .
      dockerfile: Dockerfile.amd64
    ports:
    - 5800:5800
    - 5900:5900
    - 14680:14680
    - 14620:14620
    - 14630:14630
    environment:
    - DISPLAY=:0
    - TZ=Europe/Berlin
    - WINEDEBUG=-fixme-all
    - WINEARCH=${WINEARCH:-win64}
    - EVERYTHING_BINARY=${EVERYTHING_BINARY:-everything-1.5.exe}
    - EVERYTHING_CFG=${EVERYTHING_CFG:-cfg/everything.ini}
    - EVERYTHING_DB=${EVERYTHING_DB:-data/everything.db}
    restart: on-failure:2
    container_name: everything-search
    mem_reservation: 1024M
    volumes:
    - ./.config:/config
    - ./data:/home/everything
    - /mnt/user:/mnt/user:ro
